<button mat-raised-button color="accent" class="add_new" routerLink="/cars/add">Add New</button>
<ul class="cars">
  <li class="section" *ngFor="let car of cars; let id = index;">
    <div class="flex-elem">
      <img class="image" src="{{car.image}}" alt="">
      <div class="desc">
        <h3><a href="/car/{{car.id}}">{{car.brand}} {{car.model}} {{car.year}}</a></h3>
      </div>
      <button color="warn" (click)="remove(car.id)"><mat-icon>clear</mat-icon></button>
    </div>
  </li>
</ul>
