<mat-card>
  <form (submit)="add($event)">
    <div class="container">Enter vehicle info:</div>
    <div class="container">
      <mat-form-field class="col">
        <input type="text" name="brand" matInput placeholder="Brand" [(ngModel)]="brand" required>
      </mat-form-field>
      <mat-form-field class="col">
        <input type="text" name="model" matInput placeholder="Model" [(ngModel)]="model" required>
      </mat-form-field>
      <mat-form-field class="col">
        <input type="number" name="year" matInput placeholder="Year" [(ngModel)]="year" required>
      </mat-form-field>
      <mat-form-field class="col">
        <input type="text" name="image" matInput placeholder="Image" [(ngModel)]="image">
      </mat-form-field>
      <mat-form-field class="col">
        <input type="number" name="price" matInput placeholder="Price" [(ngModel)]="price" required>
      </mat-form-field>
      <mat-form-field class="col">
        <input type="number" name="mileage" matInput placeholder="Mileage" [(ngModel)]="mileage">
      </mat-form-field>
    </div>
    <div class="container">
      <mat-form-field class="container" style="padding: 0 10px;">
        <textarea type="text" name="description" matInput placeholder="Description" [(ngModel)]="description"></textarea>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="submit" class="container">Add Car</button>
  </form>
</mat-card>
